<div>
	<nav class="navbar">
		<div class="row">
			<div>
				<h4>ArmaNote</h4>
			</div>
			<div class="rightDiv">
				<a (click)="goToProfile()">
					<img class="roundImg" *ngIf="profileImgUrl" [src]="profileImgUrl">
				</a>
				<a [routerLink]="['/']">
					<span>Home</span>
				</a>
				<a *ngIf="!isLoggedIn" [routerLink]="['/login']">
					<span>Log In</span>
				</a>
				<a *ngIf="!isLoggedIn || isAdminLoggedIn" [routerLink]="['/registration']">
					<span>Sign Up</span>
				</a>				
			</div>
		</div>
	</nav>
</div>
