<div class="container">
		<div>
			<form class="form-signin"
				(ngSubmit)=loginSubmit()
				[formGroup]="login">
				<h3 class="form-signin-heading"></h3>
				<br/>
				 
				<input type="text" name="email" class="form-control" formControlName="email"/> <br/> 
				<input type="password" name="password" class="form-control" formControlName="password"/> <br /> 
					
				<!-- <div align="center">
					<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
				</div> -->
				<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
			</form>
		</div>
		<br>
		<div>
			<form>
				<button class="btn btn-lg btn-warning btn-block" [routerLink]="['/registration']" type="Submit">Go To Registration Page</button>
			</form>
		</div>
	</div>