.form-ele{
	overflow:hidden;
	display:flex;
	align-items: center;
}
.form-ele label{
	margin-top: 20px; /* rather try to implement verticle align center to the labels */
}
.form-ele input, .form-ele textarea, #urlButton {
	margin-top: 10px;
    margin-bottom: 10px;
}
.container{
	padding-bottom: 30px;
}
.noLeftPadding{
	padding-left:0!important;
}
.urlLabelDiv{
	padding-right:0px;
}
