.form-ele{
	overflow:hidden;
	display:flex;
	align-items: center;
}
/* .form-ele label, .form-ele input, .form-ele textarea {
    display:table-caption;
    width:70%;
    margin-left:3%;
} */
.form-ele label{
	margin-top: 20px; /* rather try to implement verticle align center to the labels */
}
.form-ele input, .form-ele textarea, #urlButton {
	margin-top: 10px;
    margin-bottom: 10px;
}
.container{
	padding-bottom: 30px;
}
.noLeftPadding{
	padding-left:0!important;
}
/* .urlDiv{
	padding-left:25px;
} */
.urlLabelDiv{
	padding-right:0px;
}
/* .urlLabelDiv label{
	margin-top: 10px;
} */
